/* This stylesheet is organized using BEM methology *******/

/* Theme **************************************************/

body,
nav ul a {    
    color: #000 ;
    font-family: proxima-nova,sans-serif;
}

ul li a,
.banner-text {
    color: #fff;
}

section:nth-child(odd) {
    background: #00E676;
    color: #fff;
}

section:first-child {
    background: rgb(0,0,0,0);
}

h1 {
    font-weight: 700;
}

/* Block *************************************************/

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

nav {
    position: relative;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

/* Element ***********************************************/

#header-img {
    width: 110px;
    height: auto;
}

header nav .container {
    justify-content: space-between;
}

.parallax-container {
    align-content: center;
    justify-content: flex-end;
}

.banner-text {
    width: 550px;
    margin-right: 4em;
}

.banner-text h5 {
    line-height: 1.5;
}

.banner-text a {
    margin: 0 1em;
    text-transform: capitalize;
}

#features .container {
    flex-direction: row;
    justify-content: space-between;
}

.card {
    width: 210px;
}

.card-image {
    display: flex;
    align-content: center;
    justify-items: center;
}

.card-title {
    height: 100px;
}

.copyright-holder {
    margin: 0;
    text-align: right;
}

/* Modifier **********************************************/

footer .copyright-holder:before { content:"\00a9" "\00a0"; }

#--flex, .--flex {
    display: flex;
    flex-wrap: wrap;
}

/* Responsive ********************************************/

@media (max-width: 800px) {}