/* This stylesheet is organized using BEM methology *******/

/* Theme **************************************************/

body,
nav ul a {    
    color: #000 ;
    font-family: proxima-nova,sans-serif;
}

ul li a,
.banner-text,
.input-field input, .input-field label,
.social-links svg, .social-links a {
    color: #fff;
    fill: #fff;
}

section:nth-child(odd) {
    background: #00E676;
    color: #fff;
}

section:first-child {
    background: rgb(0,0,0,0);
}

h1 {
    font-weight: 700;
}

.social-links a:hover, .social-links a:focus,
#mission h1,
.card-image i, .card-title {
    color: #F50057;
    fill: #F50057;
}

/* Block *************************************************/

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

/* header {
    z-index: 2;
} */

/* nav {
    position: fixed;
} */

main {
    flex: 1 0 auto;
}

.section {
    padding: 64px;
}

footer {
    flex-shrink: 0;
}

/* Element ***********************************************/

svg {
    margin: 0 8px;
}

#header-img {
    width: 110px;
    height: auto;
}

header nav .container {
    justify-content: space-between;
}

.parallax-container {
    align-content: center;
    justify-content: flex-end;
}

.banner-text {
    width: 550px;
    margin-right: 4em;
}

.banner-text h5 {
    line-height: 1.5;
}

.banner-text a {
    margin: 0 1em;
    text-transform: capitalize;
}

#features .container,
footer .container {
    flex-direction: row;
    justify-content: space-evenly;
}

.card {
    width: 210px;
    padding: 2em;
}

.card-image {
    display: flex;
    justify-content: center;
}

.card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.qa {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
    "icon p"
    "icon p";
    grid-gap: 0.5em;
    padding: 1em;
}

.qa:last-child {
    padding-bottom: 0;
}

.qa i {
    grid-area: icon;
}

.qa p {
    margin: 0;
}

.newsletter {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr;
}

.newsletter h5 {
    grid-column: 1 / 3;
}

.newsletter .input-field {
    width: 150px;
    margin: 0;
}

.newsletter a {
    margin-top: 12px;
}

.social-links a {
    align-content: center;
    padding: 12px 0;
}

.copyright-holder {
    margin: 0;
    text-align: right;
}

/* Modifier **********************************************/

footer .copyright-holder:before { content:"\00a9" "\00a0"; }

#--flex, .--flex {
    display: flex;
    flex-wrap: wrap;
}

/* Responsive ********************************************/

@media (max-width: 800px) {}